.interface{
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: black;
}
#h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin: 20px;
    
}
#display{
    color: white;
    font-size: 150px;
     display: flex;
    justify-content: center;
    margin: 20px;
}
.button{
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
#but{
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 40px;
    font-weight: 40px; 
    width: 60px;
    height: 40px;
    margin: 5px;
    }

#butt{
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 40px;
    width: 200px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 50px;
    
}